<li class="form-item--radio__item">
  <input id="radio{{ key }}{{ key_suffix }}" name="radio" type="radio" {% if radio_item_checked %}checked="{{ radio_item_checked }}"{% endif %}>
  <label for="radio{{ key }}{{ key_suffix }}">
    {{ radio_item }}
  </label>
</li>
